extends layout

block content
  img(src= "images/treehouse.jpg")
  ul.topnav.one-edge-shadow
    li
      a(href='www.google.com') Google
    li
      a(href='about') About
  div.content
    h1#overlay GEORGIA TSE
  p Welcome to #{title}
